.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.navbar__logo {
  height: 50px;
  width: auto;
}

.navbar__links {
  display: flex;
  gap: 32px;
  list-style: none;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}